body {
    background: #e8eeff;
}

.timeline {
    margin: 50px 0;
    list-style-type: none;
    display: flex;
    padding: 0;
    text-align: center;
}

.status {
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    border-top: 4px solid #3e70ff;
    position: relative;
    transition: all 200ms ease-in ;
}
  
.status span {
    font-weight: 600;
    padding-top: 20px;
}

.status span:before {
    content: '';
    width: 3px;
    height: 25px;
    background-color: #e8eeff;
    border: 4px solid #3e70ff;
    position: absolute;
    top: -17px;
    left: calc(50% - 3px);
    transition: all 200ms ease-in;
}

.swiper-slide {
    width: 60px;
    text-align: center;
    font-size: 18px;
}